{% extends 'core/base.html' %}
{% block title %}My Rooms{% endblock title %}



{% block content %}
<div class="container">
  <h1 class="mt-4 mb-4">My Rooms</h1>
  
  <ul class="list-group">
    {% for room in rooms %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>{{ room.name }}</strong>
        {% if request.user == room.user %}
          <form method="post" action="{% url 'delete_room' room.id %}">
            {% csrf_token %}

           <a href="{% url 'room' room.slug %}"><button type="button" class="btn btn-success btn-rounded bg-gradient btn-sm">Go To Room</button></a> 
            <button type="submit" class="btn btn-danger btn-rounded bg-gradient btn-sm">Delete</button>
          </form>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

