{% extends 'core/base.html' %} {% load static %} {% block css %}<style>
  body {
    background-image: url("{% static 'core/images/back.png' %}");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 25px;
  }
  #background {
    background: white;
    filter: opacity(0.85);
  }</style
>{% endblock css %} {% block title %}Sign Up{% endblock title %} {%block content%}

<section class="p-4">
  <div class="align-items-center gradient-custom-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card mt-2" style="border-radius: 15px" id="background">
            <div class="card-body">
              <h2 class="text-uppercase text-center pb-2">Create an account</h2>

              <form action="." method="post">
                {% csrf_token %} {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                  {% if form.non_field_errors %} {{ form.non_field_errors }} 
                  {%endif %} {% for field in form %} {% if field.errors %}
                  <strong>{{ field.label }}</strong>
                  <ul>
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %} {% endfor %}
                </div>
                {% endif %}

                <div class="form-outline mb-4">
                  <input
                    type="text"
                    name="username"
                    class="form-control form-control-lg"
                    required
                  />
                  <label class="form-label" for="form3Example1cg"
                    >Your Name</label
                  >
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="password"
                    name="password1"
                    class="form-control form-control-lg"
                    required
                  />
                  <label class="form-label" for="form3Example4cg"
                    >Password</label
                  >
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="password"
                    name="password2"
                    class="form-control form-control-lg"
                    required
                  />
                  <label class="form-label" for="form3Example4cdg"
                    >Repeat your password</label
                  >
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    id="form2Example3cg"
                    required
                  />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in Terms of service
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-primary bg-gradient btn-block btn-lg gradient-custom-4 text-white"
                  >
                    Sign Up
                  </button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">
                  Have already an account?
                  <a href="{% url 'login' %}" class="fw-bold text-body"
                    ><u>Login here</u></a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"
></script>
{% endblock content %}
